.form__fieldset {
  margin: 0;
  padding: 24px 20px 23px;

  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.form__fieldset-title {
  margin: 0 0 20px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.form__message {
  width: 100%;
  height: 150px;
  padding: 15px 12px 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $font-family;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid transparent;

  resize: none;
}

.form__note {
  display: block;
  order: 1;

  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
}
