.gallery {
  @media (min-width: 768px) {
    padding: 46px 60px;
  }

  @media (min-width: 1200px) {
    padding: 46px 0;
  }
}

.gallery__list {
  @media (min-width: 768px) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  padding: 24px 20px 10px;

  border-bottom: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    padding: 0;

    border: none;
  }

  @media (min-width: 1200px) {
    position: relative;
  }

  &:first-child {
    @media (min-width: 768px) {
      grid-column: 1 / -1;
    }
  }
}

.gallery__img {
  display: block;
  height: 280px;

  @media (min-width: 768px) {
    height: 267px;
  }
}

.gallery__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery__item:first-child .gallery__img {
  @media (min-width: 768px) {
    height: 400px;
  }
}

.gallery__container {
  padding: 15px 0;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 20px 17px 16px;

    background-color: #eaeaea;
  }

  @media (min-width: 1200px) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 16px 20px;

    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery__item:first-child .gallery__container {
  @media (min-width: 768px) {
    padding: 22px 20px 16px;

    background-color: #f2f2f2;
  }

  @media (min-width: 1200px) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery__item:nth-child(2n) .gallery__container {
  @media (min-width: 768px) {
    background-color: #f2f2f2;
  }

  @media (min-width: 1200px) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery__title {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    margin: 0 0 5px;

    color: #ffffff;
  }
}

.gallery__like {
  display: grid;
  align-items: baseline;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: $font-family;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: none;
  cursor: pointer;

  gap: 14px;
  grid-template-columns: auto auto;

  @media (min-width: 768px) {
    gap: 9px;
  }

  @media (min-width: 1200px) {
    color: #ffffff;
  }
}

.gallery__like span {
  order: 1;

  color: #000000;

  @media (min-width: 768px) {
    padding-bottom: 7px;
  }

  @media (min-width: 1200px) {
    color: inherit;
  }
}

.gallery__like svg {
  fill: currentColor;
}
