.gallery__item {
  padding: 24px 20px 10px;

  border-bottom: 1px solid #e5e5e5;
}

.gallery__img {
  display: block;
  height: 280px;
}

.gallery__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery__title {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.gallery__like {
  display: grid;
  align-items: baseline;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: $font-family;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: none;
  cursor: pointer;

  gap: 14px;
  grid-template-columns: auto auto;
}

.gallery__like span {
  color: #000000;
}
