.navigation {
  position: relative;
}

.navigation__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  display: block;
  width: 185px;
  height: 96px;

  transform: translateX(-50%);
}

.navigation__btn {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 10;

  width: 23px;
  height: 22px;

  background-color: transparent;
  background-image: url("../img/svg/icon-menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

.navigation__list {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;

  display: none;

  background-color: #81b3d2;

  @media (min-width: 768px) {
    position: static;

    display: grid;
    justify-content: space-between;
    width: 100%;

    background-color: #ffffff;

    grid-template-columns: repeat(4, auto);
  }
}

.navigation__list::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 7px;

  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );

  @media (min-width: 768px) {
    display: none;
  }
}

.navigation__item {
  padding: 20px 17px 10px;

  text-align: center;

  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:first-child {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);

    @media (min-width: 768px) {
      box-shadow: none;
    }
  }

  @media (min-width: 768px) {
    width: 153px;

    box-shadow: none;
  }

  @media (min-width: 1200px) {
    width: 239px;
  }

  &:nth-child(4n-2) {
    @media (min-width: 768px) {
      margin-right: 76px;
    }

    @media (min-width: 1200px) {
      margin-right: 120px;
    }
  }

  &:nth-child(4n-1) {
    @media (min-width: 768px) {
      margin-left: 76px;
    }

    @media (min-width: 1200px) {
      margin-left: 120px;
    }
  }
}

.navigation__link {
  display: inline-block;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  vertical-align: baseline;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}

.navigation__link--current {
  color: #766357;
}

.navigation--open .navigation__list {
  @media (max-width: 767px) {
    display: block;
  }
}

.navigation--open .navigation__btn {
  @media (max-width: 767px) {
    background-image: url("../img/svg/icon-cross.svg");
  }
}

.no-js .navigation__btn {
  display: none;
}

.no-js .navigation__list {
  position: relative;

  display: block;

  @media (min-width: 768px) {
    position: static;
  }
}
