.search {
  padding: 42px 18px 48px;

  text-align: center;
  text-transform: uppercase;
}

.search__title {
  margin: 0 0 19px;

  font-size: 21px;
  line-height: 26px;
}

.search__text {
  margin: 0 0 32px;
}

.search__text br {
  display: none;
}

// .search__button {

// }
