*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  min-height: 100vh;

  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: $font-family;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

.main {
  flex-grow: 1;
}
